{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/folios2/detail.css' %}" />

<html>

<head>
  <!-- Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
    
<body>
<div style="left: 2.5; position:fixed; background-color: #222524; text-align: left; font-size:15px;padding: 1rem;z-index:5;">
    <ul>
        <li><a href="{% url 'folios2:profile' %}">Profile</a></li>
        <li><a href="{% url 'folios2:index' %}">Home</a></li>
    </ul>
</div>
    
<h1>{{ portfolio }}</h1>
    
<br>
<br>

<script> var count = 0; </script>

{% for stock in stock_list %}

<h3>{{ stock }}</h3>

<div id="{{ stock }}"></div>
    
<br><br>
    
<div id="buttons">
    
<form action="{% url 'folios2:stock-delete' stock.pk|safe %}">
    {% csrf_token %}<input type="hidden" name="stock_pk" value="{{ stock.pk }}">
    <button type="submit" style="background-color: #7A4948;">Delete {{ stock.stock_symbol }}</button>
</form>
    
<form action="{% url 'folios2:income-statement' stock.pk|safe %}">
    {% csrf_token %}<input type="hidden" name="stock_pk" value="{{ stock.pk }}">
    <button type="submit" style="background-color: #40789E;">Get {{ stock.stock_symbol }} income statements</button>
</form>
    
<form action="{% url 'folios2:links' stock.pk|safe %}">
    {% csrf_token %}<input type="hidden" name="stock_pk" value="{{ stock.pk }}">
    <button type="submit" style="background-color: #AF894F;">Get {{ stock.stock_symbol }} form links</button>
</form>

{% if stock.income_statement_10k %}
<button onclick="show_{{ stock }}_tenk()">{{ stock }} 10-K</button>
    
{% endif %}
    
{% if stock.income_statement_10q %}
        
<button onclick="show_{{ stock }}_tenq()">{{ stock }} 10-Q</button>
    
{% endif %}
    
{% if stock.form_links %}
    
<button onclick="show_{{ stock }}_10q_links()" style="background-color: #DBD383;">Show {{ stock }} 10-Q Links</button>
    
{% endif %}
    
<div id="{{ stock }}_10k" style="display:none;"></div>
    
<div id="{{ stock }}_10q" style="display:none;"></div>
    
<div id="{{ stock }}_10q_links" style="display:none;"></div>
    
</div>
    
<script>

var data = [
  {
    x: {{ date_list|safe }}[count],
    y: {{ close_list|safe }}[count],
    type: 'scatter'
  },
  {
    x: {{ date_list|safe }}[count],
    y: {{ close_list|safe }}[count],
    type: 'bar',        
    opacity: .6,
    line: {
        color: "#4AA4A5"
    },
    marker: {
        color: "#EAFFFD"
    }
  }
];
    
  var layout = {
        height: window.innerHeight*.5,
        width: window.innerWidth*.8,
        paper_bgcolor: 'rgba(0,0,0,0)',
        plot_bgcolor: 'rgba(0,0,0,0)',
        showlegent: false,
        xaxis: {
            nticks: 5,
            title: "Date",
            showline: true,
            gridcolor: '#4F7CAC',
            color: '#4F7CAC'
        },
        yaxis: {
            title: "Total Value ($)",
            showline: true,
            gridcolor:'#4F7CAC',
            color: '#4F7CAC'
        },
    };

Plotly.newPlot('{{ stock }}', data, layout);
    
var tenk = '{{ stock.income_statement_10k|safe }}';
    
document.getElementById("{{ stock }}_10k").innerHTML = tenk;
    
var tenq = '{{ stock.income_statement_10q|safe }}';
    
document.getElementById("{{ stock }}_10q").innerHTML = tenq;
    
{% if stock.form_links %}
  
var links, lLen, i, month;

links = {{ stock.form_links|safe }};
lLen = links.length;

var q_mo = ['September', 'June', 'March'];

for (i=0; i<lLen; i++) {
    
    var strStart = "{{ stock.portfolio.start_date }}";
    
    var strEnd = "{{ stock.portfolio.end_date }}";
    
    var endDate = Number(strEnd.substring(strEnd.length-4,strEnd.length));
    
    if ((new Date()).getFullYear() <= endDate) {
        
        if (((new Date()).getMonth() + 1) < 3) {
        
            endDate = (new Date()).getFullYear() - 1;
            
        } else {
            
            endDate = (new Date()).getFullYear();
            
        }        
        
    }
    
    var year = endDate - Math.floor(i/3);
    
    month = q_mo[i%3];
    
    var button = document.createElement("button");
    
    button.setAttribute("onclick","window.open('"+links[i]+"')");
    
    var t = document.createTextNode("{{ stock }} 10-Q "+ month + " " + year);
    
    button.appendChild(t);
    
    document.getElementById("{{ stock }}_10q_links").appendChild(button);
    
}
    
{% endif %}

function show_{{ stock }}_tenk() {
    var x = document.getElementById("{{ stock }}_10k");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
};
    
function show_{{ stock }}_tenq() {
    var x = document.getElementById("{{ stock }}_10q");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
};
 
 function show_{{ stock }}_10q_links() {
     
     var x = document.getElementById("{{ stock }}_10q_links");
     
     if (x.style.display === "none") {
         
         x.style.display = "block";
         
     } else {
         
         x.style.display = "none";
         
     }
     
 };
    
count += 1;
    
</script>
    
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    
{% endfor %}
    
</body>
    
</html>