{% load static %}

<link rel="stylesheet" type="text/css" href="{% static '/folios2/index.css' %}" />

<html>
    
<head>
</head>

<body>
    
    <br>
    
    <a href="{% url 'folios2:index' %}">Home</a>
    
    <br>
    
    <a href="{% url 'folios2:login' %}">Login</a>
    
    <br>
    
    <h1>Register</h1>
    
    <br>
    <p style="font-size:10px;">*Username Alpha Only</p>
    <br>
    <form class="form" action="" method="post" enctype="multipart/form-data">
        
        {% csrf_token %}
        
        {% include 'folios2/form_template.html' %}
        
        <button type="submit">Submit</button>
    
    </form>
    
</body>

</html>