body {
    font-family: monaco;
    background: #424B54; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(#424B54 ,#374b5d ); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#424B54 ,#374b5d ); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#424B54 ,#374b5d ); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#424B54 ,#374b5d ); /* Standard syntax */
    text-decoration: none;
    color: #C6EBBE;
    margin-left: 5%;
}

h1 {
    text-align: center;
}


h2 {
    font-family: monaco;
    color: #C6EBBE;
    margin-left: 20%;
}

table {
    background: rgba(0,0,0,0) !important;
    font-family: monaco !important;
    background-color: #424B54 !important;
    text-decoration: none !important;
    color: #C6EBBE !important;
    font-size: 10px !important;
}

tr {
    background: rgba(0,0,0,0) !important;
    font-family: monaco !important;
    background-color: #424B54 !important;
    text-decoration: none !important;
    color: #C6EBBE !important;
    font-size: 10px !important;
}

td {
    background: rgba(0,0,0,0) !important;
    font-family: monaco !important;
    background-color: #424B54 !important;
    text-decoration: none !important;
    color: #C6EBBE !important;
    font-size: 10px !important;
}

table font {
    font-family: monaco !important;
    font-size: 10px !important;
    background-color: #424B54 !important;
}

ul {   
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
}

a {
    text-decoration: underline;
    font-family: monaco;
    color: #C6EBBE; 
}

button {
    font-family: monaco;
    background-color: #C6EBBE; 
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    float: right;
    margin-right: 2.5%;
    margin-bottom: 10%;
}
