body {
    font-family: monaco;
    background: #424B54; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(#424B54 ,#374b5d ); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#424B54 ,#374b5d ); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#424B54 ,#374b5d ); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#424B54 ,#374b5d ); /* Standard syntax */
    text-decoration: none;
    color: #C6EBBE;
}

h3 {
    margin-left: 20%;
}

a {
    text-decoration: underline;
    font-family: monaco;
    color: #C6EBBE; 
}

.form-box:hover {
    right: 5%;
    height: 20%%;
    width: 25vw;
    border: none;
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
    position: fixed;
    z-index: 5;
}

.form-box {
    
    right: 2.5%;
    height: 20%%;
    width: 2.5vw;
    border: none;
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
    position: fixed;
    z-index: 5;
    
}

.form-box:hover {
    
    right: 2.5%;
    height: 20%%;
    width: 25vw;
    border: none;
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
    position: fixed;
    z-index: 5;
    
}



#portfolio-add-form {
    top: 5%;
    background-color: #44debfb5;
}

#stock-add-form {
    top: 27.5%;
    background-color: #cc8e48b5;
}

#stock-add-form {
    top: 27.5%;
    background-color: #cc8e48b5;
}

ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    
}

p {
    
    margin: 0;
    padding: 0;
    float: left;
    
}

p .no_folios {
    
    left: 45vw;
    top: 45%;
    
}
